/xfvnparallax/xfvnparallax/xfvnparallax/obj
/xfvnparallax/xfvnparallax/xfvnparallax/bin
/xfvnparallax/xfvnparallax/xfvnparallax.Droid/obj
/xfvnparallax/xfvnparallax/xfvnparallax.Droid/bin
/xfvnparallax/xfvnparallax/xfvnparallax.iOS/bin
/xfvnparallax/xfvnparallax/xfvnparallax.iOS/obj
/xfvnparallax/.vs
